/* Centralizando*/
body{
    font-family: 'karla', sans-serif;
    background-color: #e0f1e7; /* verde clarinho do fundo */
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-us{  
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 600px;
}
.form-row{
    width: 100%;
    display: flex;
    gap: 15px;
}
input[type="text"],input[type="email"],textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #87a3a6;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}
.form-group{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.radio-group{
    display: flex;
    gap: 15px;
}
.radio-option{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #87a3a6;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}
button[type="submit"]{
    width: 100%;
    background-color: #0c7d69;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
button[type="submit"]:hover{
    background-color: #10937e;
    transition: background-color 0.3s ease;
}
.form-checkbox{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
    cursor: pointer;
}
.form-checkbox input[type="checkbox"]{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.error{
    border-color: red;
}

/* A borda fica vermelha quando a classe .error é adicionada */
input.error, textearea.error{
    border: 2px solid #d73c3c;
    background-color: #fff6f6;
}

/* A mensagem de erro aparece logo abaixo */
.error-message{
    color: #d73c3c;
    font-size: 12px;
    margin-top: 4px;
    display: none; /*começa escondido*/
}
/* Quando  o container pai tem a classe .invalid, mostramos a mensagem */
.form-group.invalid .error-message{
    display: block;
}

.form-checkbox.invalid .error-message{
    display: block;
}